.main-container {
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    flex-direction: column;
    background-image: url("/src/images/c2dcd7679c38ba2ca294da097c2f4faf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 500px;
    
}

.header h1 {
    position: absolute;
}

.header h1 {
    max-width: 780px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.profile-image img {
    border-radius: 200px;
    width: 150px;
    height: 150px;
    margin-top: 450px;
    
}

.lista li {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 40px;
    font-size: 36px;
}


.footer {
    display: flex;
    flex-direction: row;
    background-color:#f7efef ;
    bottom: 0px;
    top: none;
    

}