/* Fuentes para la página*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Source+Sans+3:ital,wght@0,400;0,700;1,400&display=swap');




body{
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header {
    display: flex;
    flex-direction: column;
    background-image: url("/src/images/desing-css.png");
    background-repeat: no-repeat;
    background-size: auto;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    
    
}



.header h1 {
    max-width: 780px;
    font-size: 36px;
    font-family: 'Roboto Slab', 'serif';
    background-color: #E3BD66;
    color: white;
    position: absolute;
    padding: 10px 10px 10px 10px;

    
}

.autor {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18;
    font-weight: bold;
}

.profile-image img {
    border: 5px solid red;
    border-color: red;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 500px;
    
    
}

.lista li {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 40px;
    font-size: 36px;
}

.titulo {
    font-size: 36px;
}


.footer {
    display: flex;
    flex-direction: row;
    background-color:#f7efef ;
    bottom: 0px;
    top: none;
    

}

.webpage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 60px 100px 100px;
    
}

/* responsive*/
@media screen and (max-width: 768px) {
    .header h1 {
        font-size: 1.5rem; /* Reduzco el tamaño del texto en pantallas pequeñas */
    }

    .profile-image img {
        width: 100px;
        height: 100px;
    }

    .lista li {
        font-size: 1rem; /* Reduzco el tamaño del texto en pantallas pequeñas */
    }
}