<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 Mejores frameworks de CSS</title>
</head>
<body>
    <main class="main-container">
        <section class="header">
            <h1>5 Mejores Frameworks para trabajar con CSS en 2023</h1>
            <article>
                <img src="" alt="profile-image">
               
            </article>
        </section>
        <section class="webpage-content">
            <ul class="lista">
                <li>
                    <h2>Tailwinds CSS</h2>
                    <p>ansdianodiasndosaindsodn naisdonasid nsoid nsaod insaonad</p>
                </li>
                <li >dos</li>
                <li >tres</li>
            </ul>
        </section>

        <section class="footer">
            <article>
                <h2>Juan Carlos Web</h2>
            </article>
        </section>
    </main>  
</body>
</html>